<% if(locals.bookReviews) {%>
    <% if(locals.onlyFeatured) {%> 
        <% for(const bookReview of bookReviews) {%>
            <div class="book-review featured flex-box-column">
                <div class="cover-container">
                    <img id="cover" src="https://covers.openlibrary.org/b/isbn/<%= bookReview.ibsn %>-L.jpg" alt="">
                </div>

                <div class="info-container flex-box-column">
                    <p class="author"><span id="authors" class="noto-sans basic-text"><%= bookReview.authors %></span></p>
                    <h1 class="flex-box-column"><span id="title" class="noto-sans-title"><%= bookReview.title %></span></h1>

                    <div class="rating-container flex-box-column">
                        <p class="noto-sans basic-text rating-text">Rating: <span id="rating" class="noto-sans basic-text" ><%= bookReview.rating %></span> / 5 stars</p>
    
                        <div class="stars-container flex-box-row">
                            <% let count = parseInt(bookReview.rating) %>
                            <% for (let i = 0; i < 5; i++) { %>
                                <% if(count !== 0) { count--; %>
                                    <div class="star filled"></div>
                                <% } else { %>
                                    <div class="star empty"></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <form action="/review" method="get" class="read-review-form">
                        <input type="hidden" name="id" value="<%= bookReview.id %>">
                        <button type="submit" class="read-review-btn">Read review</button>
                    </form>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <% for(const bookReview of bookReviews) {%>
            <div class="book-review flex-box-column">
                <p class="hidden" id="rating"><%= bookReview.rating %></p>
                <div id="book-title-container">
                    <h2 class="noto-sans white-txt" id="book-title"><%= bookReview.title %></h2>
                    <div class="underline"></div>
                </div>
                <img id="cover" src="https://covers.openlibrary.org/b/isbn/<%= bookReview.ibsn %>-M.jpg" alt="">

                <div class="rating-container flex-box-column">
                    <p class="noto-sans basic-text rating-text white-txt">My Rating: <span id="rating" class="noto-sans basic-text white-txt" ><%= bookReview.rating %></span> / 5 stars</p>

                    <div class="stars-container flex-box-row">
                        <% let count = parseInt(bookReview.rating) %>
                        <% for (let i = 0; i < 5; i++) { %>
                            <% if(count !== 0) { count--; %>
                                <div class="star filled"></div>
                            <% } else { %>
                                <div class="star empty"></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>

                <form action="/review" method="get" class="read-review-form">
                    <input type="hidden" name="id" value="<%= bookReview.id %>">
                    <button type="submit" class="read-review-btn white-txt">Read review</button>
                </form>
            </div>
        <% } %>
    <% } %>
<% } else {%>
    <h1>WTF</h1>
<% } %>