<%- include("partials/header.ejs") %>

<body>
    <% if(locals.bookReview) { %>
        <div class="book-review">
            <h1 ><span id="title"><%= bookReview.title %></span></h1>
            <img id="cover" src="https://covers.openlibrary.org/b/isbn/<%= bookReview.ibsn %>-M.jpg" alt="">
            <p><span id="date-read"><%= bookReview.date_read %></span></p>
            <p><span id="authors"><%= bookReview.authors %></span></p>
            <p><span id="review"></span><%= bookReview.review %></p>

            <!-- Make actual stars appear in html for more visual prettyness :D -->
            <p><span id="rating"><%= bookReview.rating %></span> / 5 stars</p>
        </div>    
    <% } else { %>
        <h1>Could not fetch book review data.</h1>    
    <% } %>
</body>